streamlit
pandas
PyPDF2
pytesseract
Pillow
groq
openpyxl
python-docx
rapidfuzz
beautifulsoup4
python-dotenv

fpdf==1.7.2
faiss-cpu
numpy
fuzzywuzzy
python-Levenshtein
scikit-learn
numpy
scikit-learn
joblib